@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

:root {
  --game-font: hsla(341, 73%, 66%, 1);
  --game-bg: hsla(240, 14%, 94%, 1);
  --game-player-card: hsla(172, 71%, 25%, 1);
  --game-player-card-border: hsla(165, 74%, 57%, 1);
  --game-buttons: hsla(196, 100%, 88%, 0.5);
  --winner-message-font: hsla(15, 87%, 32%, 1);
  --winner-message-bg: hsla(191, 95%, 34%, 1);
  --winner-message-border: hsla(55, 92%, 58%, 1);
  --winner-button: hsla(199, 29%, 53%, 1);
  --footer-bg: hsla(238, 70%, 57%, 1);
  --footer-font: hsla(36, 80%, 67%, 1);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--game-bg);
  color: var(--game-font);
}

.game-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  z-index: 1;
}

.player-card {
  height: 55vh;
  width: 30vw;
  border: 5px solid black;
  display: grid;
  grid-auto-flow: row;
  font-size: 2.5rem;
  font-weight: bolder;
  border-radius: 25px;
  background-color: var(--game-player-card);
  margin: 5%;
}
.player-name,
.player-number,
.player-score {
  text-align: center;
}

.player-1,
.player-2 {
  border-radius: 25px;
}

.roll-reset {
  display: grid;
  grid-auto-flow: row;
  margin-top: 5%;
}
#roll-btn,
#reset-btn {
  background-color: var(--game-buttons);
  width: 15vw;
  height: 10vh;
  font-size: 1.5rem;
  border: 3px solid hsl(120, 45%, 20%);
  border-radius: 5% 45%;
  color: var(--game-font);
}
#reset-btn {
  margin-top: 25vh;
}
#roll-btn:hover,
#reset-btn:hover {
  background-color: hsla(196, 100%, 66%, 0.5);
}

.dice-img-1,
.dice-img-2 {
  margin-left: 25%;
  max-width: 25vh;
  border-radius: 20px;
  box-shadow: -1rem -1rem hsl(172, 75%, 75%);
}

footer {
  position: absolute;
  bottom: 0;
  background-color: var(--footer-bg);
  color: var(--footer-font);
  width: 100%;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: var(--footer-font);
}
a:hover {
  color: hsla(36, 80%, 27%, 1);
}

.name {
  margin-left: -15%;
}
p {
  font-size: 1.5rem;
}

.hidden {
  display: none;
}
.modal-window-container {
  position: absolute;
  padding: 3rem;
  top: 35%;
  left: 35%;
  border: 3px solid var(--winner-message-border);
  color: var(--winner-message-font);
  background-color: var(--winner-message-bg);
  border-radius: 25px;
  z-index: 3;
}
#new-game-btn {
  font-size: 1.5rem;
  padding: 1rem;
  color: var(--winner-message-font);
  background-color: var(--winner-button);
  margin: 5% 0 0 25%;
  border-radius: 5% 45%;
  border: 1px solid black;
}
/* .winner-wrapper {
  width: 100%;
  height: 95vh;
  border: 10px solid black;
  opacity: 0.5;
  z-index: 2;
} */
.blur {
  filter: blur(2px);
}
